.setting{
  display: none;
  position: relative;
  background-color: #F2F2F2;
  width: 100vw;
  margin: 30px -3.5vw 0 -3.5vw;
}
.setting_row{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.share_link{
  position: relative;
  display: inline-block;

}
.share_link img{
  max-width: 100%;
}



/* =================================================== MEDIA ======================================= */

@media (max-width: 768px){
  .setting{
    display: block;
  }
}

@media (max-width: 425px) {
  .setting{
    margin: 0 -3.5vw 0 -3.5vw;
  }
}